In [1]:
import pandas as pd

# 1 - Nenana Ice Classic Data 
## Need to login and download the data - manage the csv file

Had to create a profile at 
https://urs.earthdata.nasa.gov/profile

https://daacdata.apps.nsidc.org/pub/DATASETS/nsidc0064_nenana_ice_classic_v2/NenanaIceClassic_1917-2021.csv

In [39]:
#upload to Jupyterhub
ice_df = pd.read_csv("NenanaIceClassic_1917-2021.csv")
ice_df

     Year  Decimal Day of Year  Month  Day   Time
0    1917             120.4792  April   30  11:30
1    1918             131.3979    May   11  09:33
2    1919             123.6063    May    3  14:33
3    1920             132.4486    May   11  10:46
4    1921             131.2792    May   11  06:42
..    ...                  ...    ...  ...    ...
100  2017             121.5000    May    1  12:00
101  2018             121.5542    May    1  13:18
102  2019             104.0146  April   14  00:21
103  2020             118.5389  April   27  12:56
104  2021             120.5347  April   30  12:50

[105 rows x 5 columns]



# 2- Getting Datasets from DSSJ datasets repository 
https://sites.google.com/view/dssj/projects

For Example 
## CSV for Florida Covid dataset
https://figshare.com/articles/dataset/COVID-19/14552367?file=28042047

In [16]:
!wget https://figshare.com/ndownloader/files/28042047

--2023-07-18 10:43:32--  https://figshare.com/ndownloader/files/28042047
Resolving figshare.com (figshare.com)... 34.242.105.80, 34.250.148.102, 2a05:d018:1f4:d000:2df1:b4d4:f8bf:d1c, ...
Connecting to figshare.com (figshare.com)|34.242.105.80|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s3-eu-west-1.amazonaws.com/pfigshare-u-files/28042047/CoViDCasesFL.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIYCQYOYV5JSSROOA/20230718/eu-west-1/s3/aws4_request&X-Amz-Date=20230718T174333Z&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=742946b2ca01ba9739661e8a7a3987dc2a12db2d19e8a2217f20cda29923214b [following]
--2023-07-18 10:43:33--  https://s3-eu-west-1.amazonaws.com/pfigshare-u-files/28042047/CoViDCasesFL.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIYCQYOYV5JSSROOA/20230718/eu-west-1/s3/aws4_request&X-Amz-Date=20230718T174333Z&X-Amz-Expires=10&X-Amz-SignedHeaders=host&X-Amz-Signature=742946b2ca01ba9739661e8a7a3987dc2a12db2d19e8a2217f20cda29923214b
Resolving s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)... 52.218.112.171, 52.218.49.68, 52.218.97.210, ...
Connecting to s3-eu-west-1.amazonaws.com (s3-eu-west-1.amazonaws.com)|52.218.112.171|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13654 (13K) [text/csv]
Saving to: ‘28042047’

28042047            100%[===================>]  13.33K  --.-KB/s    in 0s

2023-07-18 10:43:33 (117 MB/s) - ‘28042047’ saved [13654/13654]

In [17]:
!ls

28042047      ES-21AC-SP21-key		      NenanaIceClassic_1917-2021.csv.1
covid_fl.csv  ICERM_DataImports.ipynb
EEP-147-SP23  NenanaIceClassic_1917-2021.csv

In [18]:
!mv 28042047 covid_fl.csv

In [19]:
covid_fl_df = pd.read_csv("covid_fl.csv")
covid_fl_df

,FIPS,County,Province_State,Country_Region,Last_Update,Latitude,Longitude,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,adults_poverty_percent,children_under_18_poverty_percent,RUC,college_completion_rate,percent_of_state_median_income
0,12001,Alachua,Florida,US,2021-05-17 04:20:34,29.678665,-82.359282,25106,279,NaN,NaN,"Alachua, Florida, US",9331.593834,1.111288,19.8,21.1,2.0,42.523907,92.049862
1,12003,Baker,Florida,US,2021-05-17 04:20:34,30.330601,-82.284675,3518,60,NaN,NaN,"Baker, Florida, US",12043.820609,1.705514,15.4,21.7,1.0,13.355485,95.257338
2,12005,Bay,Florida,US,2021-05-17 04:20:34,30.265487,-85.621226,20386,392,NaN,NaN,"Bay, Florida, US",11668.813142,1.922888,13.4,20.5,3.0,22.821664,93.404651
3,12007,Bradford,Florida,US,2021-05-17 04:20:34,29.950797,-82.166116,3028,56,NaN,NaN,"Bradford, Florida, US",10737.207900,1.849406,19.5,26.0,6.0,10.550082,81.314380
4,12009,Brevard,Florida,US,2021-05-17 04:20:34,28.294095,-80.730910,42237,880,NaN,NaN,"Brevard, Florida, US",7016.788993,2.083481,11.0,16.5,2.0,29.309989,103.930872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,12125,Union,Florida,US,2021-05-17 04:20:34,30.044130,-82.374974,1836,74,NaN,NaN,"Union, Florida, US",12049.616066,4.030501,20.6,21.0,6.0,8.322184,82.813487
64,12127,Volusia,Florida,US,2021-05-17 04:20:34,29.058589,-81.182633,44006,814,NaN,NaN,"Volusia, Florida, US",7953.600682,1.849748,13.2,17.5,2.0,23.561302,90.713113
65,12129,Wakulla,Florida,US,2021-05-17 04:20:34,30.165489,-84.398952,3484,56,NaN,NaN,"Wakulla, Florida, US",10326.328581,1.607348,11.9,16.2,2.0,18.383153,104.997023
66,12131,Walton,Florida,US,2021-05-17 04:20:34,30.642040,-86.169357,7849,87,NaN,NaN,"Walton, Florida, US",10596.589758,1.108421,11.4,18.6,3.0,28.388890,109.994047
67,12133,Washington,Florida,US,2021-05-17 04:20:34,30.613593,-85.660025,2740,52,NaN,NaN,"Washington, Florida, US",10756.487261,1.897810,22.8,32.0,6.0,11.737009,70.761099

## 3 - Book Chapter - Quantititative Research 4 Social Justice

https://github.com/Zibiana/QR4SJ/blob/main/remixed-sections/Data_Files/State-payday-loan-rates-03-21-only-predatory.xlsx

In [60]:
#upload to Jupyterhub
!ls

covid_fl.csv	  ICERM_DataImports.ipynb
crdc.zip	  NenanaIceClassic_1917-2021.csv
EEP-147-SP23	  Poverty-School-ussd21.xls
ES-21AC-SP21-key  State-payday-loan-rates-03-21-only-predatory.xlsx

In [63]:
payday_df = pd.read_excel("State-payday-loan-rates-03-21-only-predatory.xlsx")
payday_df

             State  Typical Payday Loan APR
0             Ohio                     1.38
1           Oregon                     1.54
2         Virginia                     1.73
3       New Mexico                     1.75
4        Minnesota                     2.00
5         Oklahoma                     2.03
6            Maine                     2.17
7     Rhode Island                     2.61
8          Wyoming                     2.61
9          Florida                     3.04
10            Iowa                     3.36
11        Michigan                     3.70
12         Indiana                     3.82
13        Delaware                     3.91
14          Kansas                     3.91
15      Washington                     3.91
16  South Carolina                     3.95
17          Alaska                     4.35
18         Alabama                     4.56
19      California                     4.60
20          Hawaii                     4.60
21       Tennessee                     4.60
22        Kentucky                     4.69
23       Louisiana                     4.78
24       Wisconsin                     5.16
25     Mississippi                     5.21
26    North Dakota                     5.26
27        Missouri                     5.27
28           Idaho                     6.52
29          Nevada                     6.52
30            Utah                     6.52
31           Texas                     6.64